@charset "UTF-8";

.carousel-cell {
		background-size:cover;
		background-position:center;
		height:400px;
		width:100%;
}
.centrato{
	position:absolute;
	width: 300px;
	left:50%;
	top:50%;
	margin-left:-150px;
	background-color:#dedede;
	text-align:center;
}
.centrato h3{
	color:violet;
}
.centrato a{
	color:red;
	text-align:right;
	font-size:25px;
	background-color:blue;
}

/*vado in appAsset*/
	